<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>Order List</h1>

 
  
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
    <th>viberid</th>
    <th>Name</th>
    <th>Comment</th>
    <th>Date</th> 
    <th>Status</th> 
    
    
  </tr>

 
     <tr>

      <td><%= data.viberid %></td>
       <td><%= data.name %></td>
       <td><%= data.comment %></td>
       <td><%= data.order_date %></td>
      <td><%= data.status %></td>
       
      </td>
     
      
     </tr>
   


  

	</table>

 
 <form action="https://tailorvbbot.herokuapp.com/admin/updateorder/" method="post">
  
  <label for="status">Status:</label>
  <select name="status" id="status">    
    <option value="pending"
    <%if(data.status == "pending"){%>
        <%="selected"%>
    <%}%>
    >Pending</option>
    <option value="confirm"
    <%if(data.status == "confirm"){%>
        <%="selected"%>
    <%}%>
    >Confirm</option>
   
  </select> 
  <br>
  <label for="name">Comment</label>
    <textarea name="comment" rows="4" cols="50"></textarea> 
  
  <input type="hidden"  name="doc_id" value="<%= data.doc_id %>"> <br>

    <input type="submit" value="Submit"> 
  
  
  </form>
 

  </body>

</html>